root {
	display: block;
}

.map {
	-fx-background-color: rgba(255, 255, 255, 1.0);
}

.scroll-pane:focused {
	-fx-background-insets: 0;
}

.scroll-pane {
	-fx-background-color: rgba(255, 255, 255, 1.0);
}

.web-view-container {
	-fx-border-color: #969696;
	-fx-border-width: 1px;
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: white;
}

.menu-label {
	-fx-text-fill: -fx-text-base-color;
}

.color-palette {
	-fx-background-color: rgba(245, 245, 245, 1.0);
}

.color-palette .separator {
	-fx-background-color: rgba(0, 0, 0, 1.0);
	visibility: none;
}

.color-palette .hyperlink {
	-fx-background-color: rgba(0, 0, 0, 1.0);
	visibility: none;
}